body {
  height: 100vh;
  background: #f6f6f6;
}

.container {
  width: 500px;
  margin: auto;
  background: #fff;
  box-shadow: 7px 8px 5px #aaa;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
}

h4 {
  padding: 20px 10px;
  border-bottom: 1px solid #807f7f;
  margin: 0;
  font-weight: 500;
}

p {
  padding-top: 1px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  color: #353434;
  display: flex;
  padding: 15px 10px;
  border-bottom: solid 1px #807f7f;
}

.addTask {
  border: none;
  border-bottom: 1px solid #807f7f;
  font-style: italic;
  color: #353434;
  padding: 15px 10px;
}

textarea:focus,
input:focus {
  outline: none;
}

#checkbox {
  cursor: pointer;
  margin-right: 10px;
}

#checkbox:checked {
  background-color: #807f7f;
}

.clear {
  background: #f6f6f6;
  border: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #807f7f;
  cursor: pointer;
}
